/*  body css */
.login-Body{
    width: 22%;
    margin: 45px 39%;
}
.login-label{
    color:#1c1d1f;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0.5em;
}
.Inputs{
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;    
    border: 1px solid #d1d7dc;
    box-shadow: 0 2px 2px 0px rgb(28 29 31 / 41%);    
}
.Inputs input{
    width: 88%;
    padding: 7px 0px;
    border: none;
    outline: none;
}
.Inputs a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.Inputs a:hover{
    background: #f8f8fd;
}
.link-image{
    width: 22px;
    height: 22px;
    margin: 0 3% 0 2%;
}
.form-input{
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;    
    border: 1px solid black;
    font-family: Tahoma;
    color:#2e2f31;
}
.form-input input{
    width: 88%;
    padding: 7px 0px;
    border: none;
    outline: none;
}
.icons{
    display: inline;
    margin: 0 2%;
}
.fa-envelope{
    color: rgb(28 29 31 / 41%);
    width: 6%;
}
.fa-unlock-alt{
    color: rgb(28 29 31 / 41%);
    width: 6%;
}
.loginHere{
    background: #a435f0;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 8px 41.9%;
    border: none;
    margin-bottom: 0.8em;
    font-family: sans-serif;
}
.log-pass{
    text-align: center;
    font-size: 0.9rem;
}
.log-pass a, .log-pass a:hover{
    text-decoration: none;
    color:#a435f0;
}
.need-signUp{
    text-align: center;
    font-size: 0.9rem;
}
.need-signUp p{
    margin:0;
}
.need-signUp p a, .need-signUp p a:hover{
    color:#a435f0;
    font-weight: bold;
}
#eout{
    color: red;
    font-size: 13px;
}